.container {
  margin-left: 80px;
  margin-top: 30px;
}

.notes_header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.notes_title {
  margin-right: 50px;
}

.refresh_button {
  font-size: 20px;
  margin-top: 10px;
}

.notes {
  display: flex;
  margin-bottom: 50px;
}

.note {
  margin-right: 30px;
  border: 1px solid #fff;
  padding: 15px;
  width: 180px;
  min-height: 200px;
  word-wrap: break-word;
  position: relative;
}

.note_content {
  margin: 0;
  font-size: 20px;
}

.note_close {
  position: absolute;
  right: -20px;
  top: -25px;
}

.form {
  display: flex;
  align-items: flex-end;
}

.textarea {
  width: 450px;
  height: 150px;
  resize: none;
  padding: 10px;
  font-size: 22px;
  word-wrap: break-word;
}

.add_button {
  font-size: 20px;
  border-radius: 50%;
  margin-left: -95px;
  margin-bottom: 5px;
}
